@model PaginatedList<ProductCatalogueApp.Models.Product>
@{
    ViewData["Title"] = "Products";
}
<h2>Products</h2>
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create">Novi produkt</a>
        </p>
    }
}

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Traži" class="btn btn-default" /> |
            <a asp-action="Index">Poništi</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].SKU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Categories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SKU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageName)
                </td>
                <td>
                    @foreach(var category in item.Categories)
                    {
                        @:<text>@category.Category.Name</text><br />
                    }
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.ID">Uredi</a> <text>|</text>
                        }
                    }
                    <a asp-action="Details" asp-route-id="@item.ID">Detalji</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <text>|</text>
                            <a asp-action="Delete" asp-route-id="@item.ID">Deaktiviraj</a>
                        }
                    }
                </td>
               
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Prethodni
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Sljedeći
</a>